<?xml version="1.0"?>
<!--     
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpHandlers>
      <add verb="GET" path="Download/*" type="DownloadServer.DownloadHandler"/>
    </httpHandlers>

  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="SERVER=localhost ;PORT=3306; DATABASE=SimpleDownloadCounter; USER=root; PASSWORD="/>
  </connectionStrings>
  <appSettings>
    <add key="FilesRelativePath" value="/files/"/>
    <add key="DataBaseTablesPrefix" value="tb_"/>
  </appSettings>
</configuration>