<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <!--Custom Erros FOR IIS 6-->
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/Error/Oops.aspx">
      <error statusCode="400" redirect="~/Error/Oops.aspx" />
      <error statusCode="401" redirect="~/Error/Oops.aspx" />
      <error statusCode="403" redirect="~/Error/Oops.aspx" />
      <error statusCode="404" redirect="~/Error/Oops.aspx" />
      <error statusCode="405" redirect="~/Error/Oops.aspx" />
      <error statusCode="406" redirect="~/Error/Oops.aspx" />
      <error statusCode="412" redirect="~/Error/Oops.aspx" />
      <error statusCode="500" redirect="~/Error/Oops.aspx" />
      <error statusCode="501" redirect="~/Error/Oops.aspx" />
      <error statusCode="502" redirect="~/Error/Oops.aspx" />
    </customErrors>

    <!--THIS IS THE HANDLE REGISTRATION FOR IIS 6-->
    <!--
    <httpHandlers>
      <remove verb="*" path="Download/*"/>
      <add verb="GET" path="Download/*" type="DownloadServer.DownloadHandler" />
    </httpHandlers>
    -->
  </system.web>
  <system.webServer>

    <!--THIS IS THE HANDLE REGISTRATION FOR IIS 7.0 AND ABOVE WITH INTEGRATED MODE-->
    <handlers>
      <add name="DownloadHandler" verb="*" path="Download/*" type="DownloadServer.DownloadHandler"/>
    </handlers>

    <!--Custom Erros FOR IIS 7.0 AND ABOVE-->
    <!--<httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace" defaultPath="~/error/oops.aspx"	defaultResponseMode="ExecuteURL">-->
    <!--Custom Erros FOR IIS 7.0 AND ABOVE donte use defaultPath because some WebServers return "Lock violation" error-->
    <httpErrors errorMode="DetailedLocalOnly">
      <clear/>
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />

      <error statusCode="400" path="~/error/oops.aspx" responseMode="ExecuteURL" />
      <error statusCode="401" path="~/error/oops.aspx" responseMode="ExecuteURL" />
      <error statusCode="403" path="~/error/oops.aspx" responseMode="ExecuteURL" />
      <error statusCode="404" path="~/error/oops.aspx" responseMode="ExecuteURL" />
      <error statusCode="405" path="~/error/oops.aspx" responseMode="ExecuteURL" />
      <error statusCode="406" path="~/error/oops.aspx" responseMode="ExecuteURL" />
      <error statusCode="412" path="~/error/oops.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="~/error/oops.aspx" responseMode="ExecuteURL" />
      <error statusCode="501" path="~/error/oops.aspx" responseMode="ExecuteURL" />
      <error statusCode="502" path="~/error/oops.aspx" responseMode="ExecuteURL" />
    </httpErrors>

    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="SERVER=localhost ;PORT=3306; DATABASE=SimpleDownloadCounter; USER=root; PASSWORD="/>
  </connectionStrings>

  <appSettings>
    <add key="ArePathsRelative" value="true"/>
    <add key="LOGPath" value="\Error\LOG\" />
    <add key="FilesPath" value="\files\" />
    <add key="DataBaseTablesPrefix" value="fwm_" />
  </appSettings>
</configuration>